.connexion-card {
    height: 32rem;
    padding: 2rem;
    border-radius: 2rem !important;
    width: 18rem;
    overflow: hidden;
    position: relative;
  }
  
  .connexion-card h2 {
    z-index: 10;
    color: #f5f5f5 !important;
    margin-top: 3rem;
  }
  
  .inscription-form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-container button {
    border-radius: 50%;
    background-color: #8a4c7d;
    width: 3rem;
    height: 3rem;
    border: none;
  }
  .button-container h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  form {
    padding: 0 !important;
  }
  
  .connexion-form {
    width: 100%;
    margin-bottom: 0;
    z-index: 10;
  }
  
  .form-control-connexion {
    background: #e0e0e0 !important;
    border: none !important;
    padding: 0.7rem 1.3rem !important;
    border-radius: 0.8rem !important;
    width: 100%;
  }
  
  .form-control-connexion.password {
    margin-bottom: 1rem;
  }
  
  .ellipse1 {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 20rem;
  }
  .ellipse2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 10rem;
  }
  